<!-- Navegación Unificada -->
<nav id="navigation" class="navigation">
    <!-- Sidebar Navigation (Desktop) -->
    <div class="sidebar d-none d-lg-flex">
        <div class="sidebar-content">
            <!-- Top Navigation Items -->
            <div class="nav-top">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#inicio" data-section="inicio">
                            <div class="nav-icon">
                                <i class="ph ph-house" aria-hidden="true"></i>
                            </div>
                            <div class="nav-text">
                                <span>Inicio</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#casos" data-section="casos">
                            <div class="nav-icon">
                                <i class="ph ph-rocket" aria-hidden="true"></i>
                            </div>
                            <div class="nav-text">
                                <span>Casos</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#acerca" data-section="acerca">
                            <div class="nav-icon">
                                <i class="ph ph-user" aria-hidden="true"></i>
                            </div>
                            <div class="nav-text">
                                <span>Acerca</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#contacto" data-section="contacto">
                            <div class="nav-icon">
                                <i class="ph ph-envelope" aria-hidden="true"></i>
                            </div>
                            <div class="nav-text">
                                <span>Contacto</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            
            <!-- Bottom Navigation Item -->
            <div class="nav-bottom">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#traduccion" data-section="traduccion">
                            <div class="nav-icon">
                                <i class="ph ph-translate" aria-hidden="true"></i>
                            </div>
                            <div class="nav-text">
                                <span>Traducción</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Top Navigation (Mobile) -->
    <div class="topnav navbar navbar-expand-lg d-lg-none">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html#inicio">MV</a>
            <div class="navbar-nav flex-row">
                <a class="nav-link" href="index.html#inicio" data-section="inicio">
                    <i class="ph ph-house" aria-hidden="true"></i>
                </a>
                <a class="nav-link" href="index.html#casos" data-section="casos">
                    <i class="ph ph-rocket" aria-hidden="true"></i>
                </a>
                <a class="nav-link" href="index.html#acerca" data-section="acerca">
                    <i class="ph ph-user" aria-hidden="true"></i>
                </a>
                <a class="nav-link" href="index.html#contacto" data-section="contacto">
                    <i class="ph ph-envelope" aria-hidden="true"></i>
                </a>
                <a class="nav-link" href="index.html#traduccion" data-section="traduccion">
                    <i class="ph ph-translate" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</nav>
