<div class="col-md-4 mb-4">
    <div class="project-card" data-project="{{PROJECT_ID}}">
        <div class="project-image">
            <img src="{{PROJECT_IMAGE}}" alt="{{PROJECT_TITLE}}" class="img-fluid">
        </div>
        <div class="project-content">
            <h4>{{PROJECT_TITLE}}</h4>
            <p class="project-description">{{PROJECT_DESCRIPTION}}</p>
            <div class="project-tags">
                {{PROJECT_TAGS}}
            </div>
            <button class="btn btn-outline-light btn-sm mt-3 view-project" data-project="{{PROJECT_ID}}">
                Ver Proyecto <i class="ph ph-arrow-right ms-2" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>
